<footer class="gh-foot gh-foot-min">
    <div class="gh-foot-content inner">
        <nav class="gh-foot-min-nav">
            <a class="gh-foot-min-item gh-foot-min-logo" href="https://ghost.org">
                {% include /icons/ghost-logo.svg %}
            </a>
          <a class="gh-foot-min-item" href="https://themes.ghost.org" target="_blank" rel="noopener">Docs</a>
          <a class="gh-foot-min-item" href="https://github.com/tryghost/marketplace" target="_blank" rel="noopener">Submit</a>
            <a class="gh-foot-min-item" href="https://twitter.com/tryghost" target="_blank" rel="noopener">@TryGhost</a>
        </nav>
        <div class="gh-foot-min-back">
            <a class="gh-foot-min-item" href="https://ghost.org">Back to Ghost</a>
        </div>
    </div>
</footer>

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script type="text/javascript" src="{{ "assets/js/ghost.js" | relative_url }}"></script>
<script type="text/javascript" src="https://auth.ghost.org/signin-button.js"></script>
