<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Ghost Themes - The Marketplace</title>
    <meta name="description" content="Find professional theme for the Ghost publishing platform, whether you're starting a blog, magazine or news website." />

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta="" name="HandheldFriendly" content="True" />

    <link rel="stylesheet" href="{{ "/assets/built/app.css" | relative_url }}" />
</head>
