<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="gh-marketplace">

    {% include header.html %}

    <main class="gh-main" role="main">
        <header class="gh-hero">
            <div class="inner">
                <div class="gh-header">
                    <h1>Professional Ghost Themes</h1>
                    <p class="gh-subhead">Discover a beautiful custom design for your publication</p>
                </div>
            </div>
        </header>
        <section class="gh-section">
            <div class="inner gh-themes-wrapper">
                {{ content }}
            </div>
        </section>
    </main>

    {% include footer.html %}

</body>

</html>
